<h2>Comments on {{ photo.caption | title }}</h2>

<p>{{ html_anchor('admin/photos', 'Back to Admin') }}</p>

<div>
    {{ asset_img('main/thumb/' ~ photo.filename, {'height': '150px'}) }}
</div>

<div id="comments">
    {% if comments is not null %}
        {% for comment in comments %}
            <div class="comment" style="margin-bottom: 2em;">
                <div class="author">
                    {{ comment.user.username }} wrote:
                </div>
                <div class="body">
                    {{ comment.body | nl2br }}
                </div>
                <div class="meta-info" style="font-size: 0.8em;">
                    {{ comment.created_at | date(' m/d/Y g:i a') }}
                </div>
                <div class="actions" style="font-size: 0.8em;">
                    {{ html_anchor('admin/comments_delete/' ~ photo.id ~ '/' ~ comment.id, 'Delete Comment') }}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No Comments</p>
    {% endif %}
</div>