<div class="row">
    <div class="col-md-12">
        <h1>Manage Users</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <p>{{ html_anchor('admin', '<span class="glyphicon glyphicon-home"></span> Back to Admin', {'class': 'btn btn-primary'}) }}</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Group</th>
                    <th>Last Login</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ group.get_name(user.group) }}</td>
                        <td>{{ user.last_login | date('m/d/Y h:i a') }}</td>
                        <td>{{ html_anchor('admin/users_edit/'~user.id, 'Edit') }}</td>
                        <td>{{ html_anchor('admin/users_delete/' ~ user.id, 'Delete') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>