<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="A place to browse photos">
        <title>Photo Gallery | {{ title | title }}</title>
        {{ asset_css('yetitheme.min.css') }}
        {{ asset_css('main.min.css') }}
        <!--[if lt IE 9]>
        {{ asset_js('html5shiv.min.js') }}
        {{ asset_js('respond.min.js') }}
        <![endif]-->
        <link rel="icon" href="{{ base_url(false) }}favicon.ico" type="image/x-icon" /> 
        <base href="{{ base_url(false) }}">
    </head>
    <body>
        {{ include('navigation.twig') }}

        <!-- Begin page content -->
        <div class="container">
            <main role="main">
                <div class="row">
                    {% if session_get_flash('success') %}
                        <div class="alert alert-success">
                            <strong>Success!</strong>
                            <p>{{ e(session_get_flash('success')) | join('</p><p>') }}</p>
                        </div>
                    {% endif %}

                    {% if session_get_flash('error') %}
                        <div class="alert alert-danger">
                            <strong>Error</strong>
                            <p>{{ e(session_get_flash('error')) | join('</p><p>') }}</p>
                        </div>
                    {% endif %}
                </div>

                {{ content }}

            </main>
        </div>

        <footer class="footer top-buffer clearfix">
            <div class="container">
                <p class="text-muted text-right">Copyright 2002-{{ "NOW" | date('Y') }}, Pawtucket Inc.</p>
            </div>
        </footer>

        {{ asset_js('jquery.min.js') }}
        {{ asset_js('bootstrap.min.js') }}
        {{ asset_js('ie10viewport.min.js') }}
    </body>
</html>
