{{ form_open({'class': 'form-horizontal'}) }}
<fieldset>
    <legend>Update Password</legend>
    {{ form_csrf() }}
    <div class="form-group">
        {{ form_label('Old Password', 'password1', {'class': 'control-label'}) }}
        {{ form_password('password1', input_post('password1'), {'class': 'form-control', 'placeholder': 'Old Password', 'required': 'required', 'autofocus': 'autofocus'}) }}
    </div>
    <div class="form-group">
        {{ form_label('New Password', 'password2', {'class': 'control-label'}) }}
        {{ form_password('password2', input_post('password2'), {'class': 'form-control', 'placeholder': 'New Password', 'required': 'required'}) }}
    </div>
    <div class="form-group">
        {{ form_label('Re-Type Password', 'password3', {'class': 'control-label'}) }}
        {{ form_password('password3', input_post('password3'), {'class': 'form-control', 'placeholder': 'Re-Type password', 'required': 'required'}) }}
    </div>
    <div class="form-group">
        {{ form_submit('submit', 'Update', {'class': 'btn btn-primary'}) }}
        {{ form_reset('reset', 'Reset', {'class': 'btn btn-default'}) }}
        {{ html_anchor('profile/edit', 'Cancel', {'class': 'btn btn-default'}) }}
    </div>
</fieldset>
{{ form_close() }}