<h2>{{ username }} profile</h2>

<p>{{ html_anchor('photographs', 'Back to Main') }}</p>

<div id="prof_image" style="float: left;">
    {{ asset_img('profile/thumb/'~image) }}
</div>

<div id="bio" style="float: left; margin-left: 20px; border: 1px inset; width: 400px;">
    <div style="background-color: aliceblue; text-align: center; font-size: 1em; border-bottom: 1px solid black">
        User Bio
    </div>
    <p style="padding: 0 1em;">{{ bio | nl2br }}</p>
</div>

{% if auth.get_screen_name() == username%}
    <div style="clear: left; overflow: hidden;">
        <p>{{ html_anchor('profile/edit', 'Edit Profile') }}</p>
        <p>{{ html_anchor('logout', 'Logout') }}</p>
    </div>
{% endif %}