<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>oops</title>
        {{ asset_css('main.css') }}
    </head>
    <body>
        <div id="header">
            <h1>{{ html_anchor('photographs', 'Photo Gallery', {'style': 'text-decoration: none; color: #D4E6F4'}) }}</h1>
        </div>
        <div id="main">
            <div id="container">
                <h2>{{ title }}</h2>
                <p>We can't find that</p>
                {{ html_anchor('/', 'Go Back Home', {'title': 'Go Back Home'}) }}<p>
            </div>
        </div>
        <footer>
            <div id="footer">
                Copyright 2002-{{ "NOW" | date('Y') }}, Pawtucket Inc.
            </div>
        </footer>
    </body>
</html>
