<div class="row">
    <div class="col-md-12">
        <p>{{ html_anchor('photographs', 'Back to Main', {'class':'btn btn-xs btn-primary'}) }}</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">{{ photograph.caption | title}}</h1>
    </div>
</div>



<div class="row">
    <div class="col-md-12">
        {{ asset_img('main/'~photograph.filename, {'class': 'center-block img-responsive'}) }}
    </div>
</div>

<div class="row">
    <div class="top-buffer col-md-8 col-xs-10 col-xs-offset-1 col-md-offset-2">
        {% if show_form == true %}
            {{ include('comments/_formComment.twig') }}
        {% else %}
            <p>{{ html_anchor('login', 'Login to leave a comment', {'class':'btn btn-warning'}) }}</p>
        {% endif %}
    </div>
</div>

{{ include('comments/comment_block.twig') }}

